<h1>Sales#new</h1>
<p>Find me in app/views/sales/new.html.erb</p>


<%= form_for(@item, url: user_sales_path) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :sku %>
  <%= f.text_field :sku %>
  <%= f.label :price %>
  <%= f.text_field :price %>


  <div class="field">
    <%= f.label :file %><br>
    <%= f.uploadcare_field :file %>
  </div>


  <div><%= submit_tag 'Save' %></div>
<% end %>


