<h1>Sales#show</h1>

<div class="container">
<h4>Here is your sale</h4>
   <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>sku #</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @sale.items.each do |item| %>
          <tr>
            <td ><%= item.name %></td>
            <td ><%= item.description %></td>
            <td><%= item.sku %></td>
            <td><%= item.price %></td>
            <td><%= item.file %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    <div>
     <%= button_to "Buy This Item", {
            :action => :update,
            :controller => :sales
            },
            :method => :patch %>
    </div>
</div>
