<!DOCTYPE html>
<html>
<head>
  <title>Appseller</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>

  <% if flash[:notice].present? %>
  <div class="container text-center alert alert-warning">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <% if flash[:alert].present? %>
  <div class="container text-center alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <% if flash[:success].present? %>
  <div class="container text-center alert alert-success">
    <%= flash[:success] %>
  </div>
  <% end %>


<%= yield %>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="http://backbonejs.org/backbone-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
</body>
</html>
